
.button{padding: 5px 10px; cursor: pointer;}

.input{padding: 5px;    width: 100%; border:solid 1px #ccc}
.page-head { margin: 10px 0;     background-color: #391f69 !important; color:#fff !important; -webkit-print-color-adjust: exact; text-align: center; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }


.tbl{ border: 1px solid #bdbdbd; font-size: 14px; margin: 10px 0;}
.tbl th { border: 1px solid #dedede; padding: 3px 10px; }
.tbl td { border: 1px solid #dedede; padding: 3px 10px; }
.tbl { clear: both; width: 100%; }
.tbl th { background-color: #f44336 !important; color:#fff !important; border-color:#c31d10; -webkit-print-color-adjust: exact; }
// .tbl textarea { width: 100%; height: 50px; }
.tbl .item-title, .tbl .cost, .tbl .qty{ width: 100%;}

.tbl tr.item-row td {vertical-align: middle;}
.tbl td.total-line {background-color: #f7f7f7 !important; text-align: right; -webkit-print-color-adjust: exact;}
.tbl td.total-value { background-color: #f7f7f7 !important; padding: 10px; white-space: nowrap;-webkit-print-color-adjust: exact; text-align: right; line-height: 18px;}
.tbl .inWords {font-size: 12px; text-transform: capitalize; color: #000; font-weight: bold;}
.tbl td.balance { background-color: #eee !important; -webkit-print-color-adjust: exact;}
.tbl td.inWords { border-left: 0; }
.tbl td.inWords input{border:0; width: 100%; background: transparent;}
.tbl td.blank { border: 0; }
.tbl .costWrp {border: 0}
.tbl .costWrp td{padding: 0; border:0;}

.invoice-box {
    max-width: 800px;
    padding: 30px;
    margin: 30px auto;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    color: #555;
  }
  
  @media print {
    .no-print {
        display: none;
    }

    .print-only{
        display: block;
    }
    .input{border:0}
}